@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-ct-primary;
}

html {
  @apply font-Niramit text-[16px];
}

/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-ct-secondary;
}
::-webkit-scrollbar-thumb {
  @apply bg-ct-text-color rounded-2xl;
}
::selection {
  @apply text-ct-primary bg-ct-highlight-color;
}

/* Custom Navigation */
.swiper-button-prev, .swiper-button-next {
  @apply size-[60px] rounded-full hover:bg-ct-secondary duration-200 cursor-pointer ;
  &::after {
    @apply text-[23px] font-bold text-white;
  }
}
